<a href="https://colab.research.google.com/github/anedved/machine-learning-bootcamp/blob/main/supervised/01_basics/03_feature_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import bibliotek

In [3]:
import numpy as np
import pandas as pd
import sklearn

sklearn.__version__

'1.2.2'

# Załadowanie danych

In [4]:
def fetch_financial_data(company='AMZN'):
  """
  This function fetches stock market quotations.
  """
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

df_raw = fetch_financial_data()
df_raw.head()

              Open     High      Low   Close    Volume
Date
2023-07-03  130.82  131.850  130.065  130.22  28264785
2023-06-30  129.47  131.245  128.950  130.36  54350684
2023-06-29  128.77  129.260  127.255  127.90  40760959
2023-06-28  128.94  131.480  128.440  129.04  52149512
2023-06-27  128.63  130.085  127.550  129.18  46801008

# Utworzenie kopii danych

In [5]:
df = df_raw.copy()[:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2023-07-03 to 2023-06-27
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes

In [6]:
df.index

DatetimeIndex(['2023-07-03', '2023-06-30', '2023-06-29', '2023-06-28',
               '2023-06-27'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [7]:
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year
df

              Open     High      Low   Close    Volume  day  month  year
Date
2023-07-03  130.82  131.850  130.065  130.22  28264785    3      7  2023
2023-06-30  129.47  131.245  128.950  130.36  54350684   30      6  2023
2023-06-29  128.77  129.260  127.255  127.90  40760959   29      6  2023
2023-06-28  128.94  131.480  128.440  129.04  52149512   28      6  2023
2023-06-27  128.63  130.085  127.550  129.18  46801008   27      6  2023

# Dyskretyzacja zmiennej ciągłej

In [8]:
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

In [9]:
df['height_cat'] = pd.cut(x=df.height, bins=3)
df

   height          height_cat
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

In [10]:
df['height_cat'] = pd.cut(x=df.height, bins=(160, 175, 180, 195))
df

   height  height_cat
0   175.0  (160, 175]
1   178.5  (175, 180]
2   185.0  (180, 195]
3   191.0  (180, 195]
4   184.5  (180, 195]
5   183.0  (180, 195]
6   168.0  (160, 175]

In [11]:
df['height_cat'] = pd.cut(x=df.height, bins=(160, 175, 180, 195), labels=['small', 'medium', 'high'])
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0       high
3   191.0       high
4   184.5       high
5   183.0       high
6   168.0      small

In [12]:
pd.get_dummies(df, drop_first=True, prefix='height')

   height  height_medium  height_high
0   175.0              0            0
1   178.5              1            0
2   185.0              0            1
3   191.0              0            1
4   184.5              0            1
5   183.0              0            1
6   168.0              0            0

# Ekstrakcja cech

In [13]:
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [14]:
df['lang_number'] = df['lang'].apply(len)
df

                  lang  lang_number
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

In [15]:
df['PL_flag'] = df['lang'].apply(lambda x: 1 if 'PL' in x else 0)
df

                  lang  lang_number  PL_flag
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0

In [16]:
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
df

      website
0       wp.pl
1     onet.pl
2  google.com

In [17]:
df.website.str.split('.', expand=True)

        0    1
0      wp   pl
1    onet   pl
2  google  com

In [18]:
new = df.website.str.split('.', expand=True)
df['portal'] = new[0]
df['extension'] = new[1]
df

      website  portal extension
0       wp.pl      wp        pl
1     onet.pl    onet        pl
2  google.com  google       com